:root{
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}
@font-face {
    font-family: font1;
    src: url(./Assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: font2;
    src: url(./Assets/Poppins/Poppins-SemiBold.ttf);
}

*{
    box-sizing: border-box;
}

html{
    font-size:16px;
}
body{
 font-size: 1.1rem;
 
}
.container-fluid{
    width: 100%;

}
.container{
    width: 80%;
    margin: 0 auto;
   
}

.bg-style{
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--Very-Pale-Cyan);
    background-size: contain;
    
}
.flex-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.flex-container img{
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}
.flex-container2{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    padding:50px;
    margin: 50px;
    border-radius: 10px;

}
/*
.responsive-img{
    width: 100%;
    max-width: 25%;
}*/
.btn1{
    background-color:white;
    border: 0;
    width: 150px;
    border-radius: 20px;
    font-family: font1;
    font-weight: bold;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.btn2{
    background-color: var(--Pink);
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    color:white;
    font-family: font1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    font-weight: bold;

}

.bg-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}





.sub-container{
    flex:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
  
}
.sub-container h2, .sub-container2 h2{
    font-size: 1.4rem;
    font-family: font2;
}
.sub-container p, .sub-container2 p{
    font-family: font2;
    font-weight: normal;
    font-size:0.8rem;
    color:var(--Grayish-Blue)
}
.sub-container2{
    flex:50%;  display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}
.sub-container2 img, .sub-container img{
    width: 100%;
    max-width: 400px;
    float: right;
}
.hero-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.hero-container1{
    flex:30%;
    font-family: font1;
    color:var(--Very-Dark-Cyan);
    padding: 50px 0;
}

.hero-container1 h1{
    font-size: 2.5rem;
}
.hero-container1 p{
    font-size: 1.1rem;
}

.hero-container-image img{
    width: 100%;
    height: auto;
    float:right;

}


.company-container{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin: auto;
   text-align:center;
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
    background-color: white;
}
.z-index-value{
    position: relative;
bottom: -100px;

z-index: 100;
}

.company-container h2{
    font-family: font1;
    color:var(--Very-Dark-Cyan)
}

.footer-bg{
    background-color:var(--Very-Dark-Cyan);
    position: relative;
    z-index: -100;


}
.flex-container-footer{

    padding: 5%;
    position: relative;
  
    color:white;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  
    
}
.item1{
flex:40%;
padding:20px;
}

.logo-footer{
    filter: brightness(0) invert(1);
    width: 150px;
    margin: 0 15px;
}
 .icons-footer{
    width: 15px;
    margin: 0 15px;
 }
 .item1-inner-div{
    padding:10px;
    font-family: font1;
    font-size: 0.9rem;
 }
 .item1-inner-div p{
    line-height: 2rem;
    text-indent: 30xp;
 }

.item2{
    flex: 20%;
    

}
.item2 ul li{
    list-style: none;
    padding:10px 0px;
    font-family: font1;

}



.item3{
    flex:20%;
}
.item3 ul li{
    list-style: none;
    padding:10px 0px;
     font-family: font1;
}
.item4{
    flex: 20%;
    padding:20px;

    
    
}
.social-media-icon{
    padding: 20px 0;
}
.social-media-icon i{
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    
}
.fa-facebook-f:hover{
    color:#3b5998 ;
    background-color: white;
    border: 2px solid #3b5998;
    cursor: pointer;

}
.fa-twitter:hover{
    color:rgb(10, 136, 240);
    border: 2px solid rgb(10, 136, 240);
    background-color: white;
    cursor: pointer;
}
.fa-instagram:hover{
    color:rgb(214, 60, 194);
    border: 2px solid rgb(214, 60, 194);
    cursor: pointer;
    background-color: white;
}


@media(max-width:1200px){

    .hero-container1 h1{
        font-size: 2.3rem;
    }
    .flex-container2{
        display: flex;
        
        flex-direction: row;
        flex-wrap: wrap;
        padding:20px;
        margin: 20px;
        border-radius: 10px;
    
    }
    .flex-container-footer{



        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0;
        position: relative;
      top:100px;
        color:white;
   
        height: 100%;
        max-width: max-content;
        overflow:hidden;
      
      
        
    }

   

}



@media (max-width:900px) {


.hero-container{
    display: flex;
   flex-direction: column;
 

}
.flex-container2{
    display: flex;
    
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding:10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;

}
.sub-container2{
    align-items: center;
}
.sub-container{
    align-items: center;
}

.flex-container-footer{



    display: grid;
    grid-template-columns:auto auto;
    padding: 0;
    position: relative;
  top:100px;
    color:white;

    height: 100%;
    max-width: max-content;
    overflow:hidden;
  
  
    
}

.item2 ul li{
    font-size: 1rem;
}
.item3 ul li{
    font-size: 1rem;
}


}
    



@media (max-width:756px){


.flex-container img{
    width: 100%;
    max-width: 200px;
    min-width: 100px;
}
.hero-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-container h1 {
    text-align: center;
    font-size: 2rem;
}
.hero-container p{
    text-align: center;
    font-size: 1rem;
}

.flex-container-footer{



    display: grid;
    grid-template-columns: auto;
    padding: 0;
    position: relative;
  top:100px;
    color:white;

    height: 100%;
    max-width: max-content;
    overflow:hidden;
    text-align: center;
  
  
    
}



}

@media (max-width:500px){

    .container{
        width: 90%;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    .flex-container img{
        width: 100%;
        max-width: 170px;
        min-width: 100px;
    }

}